<!DOCTYPE html>

<script src="javascripts/jquery-1.8.3.min.js"></script>
<script src="javascripts/bootstrap.min.js"></script>
<script src="javascripts/threejs/three.min.js"></script>

<script src="javascripts/threejs/js/loaders/STLLoader.js"></script>
<script src="javascripts/threejs/js/wip/TypedGeometry.js"></script>
<script src="javascripts/threejs/js/Detector.js"></script>
<script src="javascripts/threejs/js/libs/stats.min.js"></script>
<script src="javascripts/threejs/js/controls/TrackballControls.js"></script>

<script src="javascripts/index.js"></script>



<div id="stl-container">

  <div id="stl-menu-bar">
    <div id="documentsDiv">
      <div id="docHeader">
        Please choose path to model
      </div>
      <div id="docContent">
        <p>
          <strong> Documents </strong>
          <br>
          <select class="form-control" id="doc-select"></select>
        </p>
        <p>
          <strong> Workplaces </strong>
          <br>
          <select class="form-control" id="wp-select"></select>
        </p>
        <p>
          <strong> Models </strong>
          <br>
          <select class="form-control" id="elt-select2"></select>
        </p>
        <br>
        <p>
          <strong> Custom Features </strong>
          <br>
          <select class="form-control" id="feature-select"></select>
        </p>

      </div>

    </div>
    <div id="feature-parameters" style="margin: 20px">

    </div>
    <div id="sketchContent">
      <p>
      <strong>Sketches enteties</strong>
      <br>
      <select class="form-control" id="sketch-select"></select>
    </p></div>
    
    <div id="buttons">
      <button class="btn btn-primary btn-sm clearfix" id="add-feature-btn" style="margin: 10px">
        Send Custom Feature
      </button>
      <button class="btn btn-primary btn-sm clearfix" id="get-id-btn" style="margin: 10px">
        Show Sketch
      </button>
      <button class="btn btn-primary btn-sm clearfix" id="script-btn" style="margin: 10px" >
        Evaluate Feature Script
      </button>
    </div>

  </div>
  <div id="STLViever">
    <div id="stl-viewport">
      <div id="stl-progress-bar" style="display: none;">
        <div class="windows8">
          <div class="wBall" id="wBall_1">
            <div class="wInnerBall"></div>
          </div>
          <div class="wBall" id="wBall_2">
            <div class="wInnerBall"></div>
          </div>
          <div class="wBall" id="wBall_3">
            <div class="wInnerBall"></div>
          </div>
          <div class="wBall" id="wBall_4">
            <div class="wInnerBall"></div>
          </div>
          <div class="wBall" id="wBall_5">
            <div class="wInnerBall"></div>
          </div>
        </div>
      </div>

      <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
      <link href="stylesheets/style.css" rel="stylesheet">
    </div>
  </div>


</div>

</html>